@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.main {
    margin-bottom: 80px;
    width: auto;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0;
    font-weight: 100;
}

.image {
    position: relative;
}
.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    /* position: absolute;
    left: -81%;
    right: -82%;
    top: -25%;
    bottom: -54%; */
    
}

.photographer_section article a {
    text-decoration: none;
    color: black;
    text-align: center;
    /* position: relative; */
}

.photographer_section article h3 {
    font-size: 13px;
    color: #901C1C;
    font-weight: 900;
    margin: 5px 0 ;
}

.photographer_section article p {
    font-size: 10px;
    margin: 5px 0;
}

.tagline {
    font-weight: 900;
}

.price {
    color: #757575;
}

.photographerImage {
    width:200px;
    height:200px;
    border-radius:50%;
    overflow: hidden;   
}
.photographerImage  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.6);
}






/* ajout c{ode */
.photograph-header {
    /*width: 100%;*/
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 100px;
}

.city {
    color: #901C1C;
}

.imagePhotographer {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.encart {
    display: flex;
    justify-content: space-between;
    background-color: #DB8876;
    width: 200px;
    padding: 0 30px;
    position: fixed;
    bottom: 0;
    right: 35px;
}

.totalLikes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberLike {
    padding-right: 5px;
}

.fa-regular {
    color: #901C1C;
}

.fa-solid {
    color: #901C1C;
}

.mediaPhotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    /* margin-right: 95px; */
}
/* .cardMedia:nth-child(3) {
    margin-right: 0;
} */

.mediaPhotographer {
    width: 300px;
    height: 300px;
}

.mediaLikes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tri {
    margin-bottom: 20px;
}